#wrapper {
  width: 960px;
  padding: 0;
  border: 3px solid #000000;
  background-color: #ffffff;
  margin: 1em auto;
  padding: 0em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
  padding: 0px;
}

h1 {color: #ffffff;
  background-color: #000000;
  font-family: helvetica;font-style: normal;
  font-weight: normal;
}
.boxmodel1 {
border: 0px solid #000000;
padding: 20px 20px 20px 20px;
margin: 10px 10px 10px 10px;
}

h2{ text-decoration:none;
font-family:helvetica ;font-style:normal;
font-weight: bold;
margin: 10px;
clear: both;}

.floatimage {
  float: left;
  border: 4px solid #000000;
  padding: 7px 7px 7px 7px;
  margin: 8px;
  background-color: #ffffff;
  width: 460px;
}
nav ul {
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 350px;
}


nav li {
  display: inline-block;
  padding: 12px;
  border: 0px solid #000000;
  background-color: #ff0000;
  margin: 7px;
  width: 200px
}
nav li a:hover {
  background-color: #990000;
  background-image: #990000;
}

header {border: 0px solid blue;
  grid-column: span 12;
}

nav a {
 color: #ffffff;text-decoration:none;
 font-family:helvetica ;
text weight: bold;}

nav a:visited {
 color: #ffffff;
 text-decoration:none;
}

nav li {
  display: inline-block;
  border: 1px solid #000000;
  padding: 0px;
  margin: 10px;
}

nav li a {
  color: #ffffff;
   display: block;
   padding: 10px;
   background-color:  #ff0000;
   text-decoration: none;
   background-image:#ff0000);
}
nav a:hover {
 color: #0000ff;
 text-decoration: underline;
}

nav {border: 0px solid blue;
  grid-column: span 3;
}


main {border: 0px solid blue;
  grid-column: span 9;
  margin:10px
}

body {
background-image: url(a62.png);
background-repeat: repeat;
background-position: center center;
}
footer {
  color: #ffffff;
  background-color:#ff0000;
 font-family:verdana;font-size: 12px;
font-size: 14px;
 font-style: italic;
 text-align: center;
padding: 10px 10px 10px 10px;
margin: 7px 0px 0px 0px;
  grid-column: span 12;
}


.p1 { font-family:georgia;
  font-weight: bold;
  text-align: justify;}

.p2 {
  clear: both;text-align: justify;
  font-weight: bold;
  text-align:left;
}

 a {
 color: #ff0000;
 text-decoration:none;
 font-family:helvetica ;
font-weight: bold;}

 a:visited {
 color: #ff0000;
 text-decoration:none;
 font-weight:bold;
}
 a:hover {
 color: #0000ff;
 text-decoration: underline;
}

.borderbottom {
  border-bottom: 4px solid #000000;
  padding-bottom: 15px;
}

.bordertop {
  border-top: 4px solid #000000;
  background-color:#ff0000;
}

.boxmodel2 {
  background-color: #ff0000;
border: 3px solid #000000;
margin: 0px;
}

}
main ul{color: #ff0000;
list-style-type: none;
margin: 0;
padding: 0;}
